
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.light {
  background-color: #fff;
  color: #000;
}

.dark {
  background-color: #333;
  color: #fff;
}

.container {
  text-align: center;
  margin: 20px;
}

.heading {
  font-size: 2em;
  margin-bottom: 10px;
}

.searchInput {
  padding: 5px;
  margin-bottom: 10px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.card h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  margin-right: 10px;
}

.pagination span {
  font-size: 1.2em;
  margin: 0 10px;
}
